<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_navbar"></nav>
<div th:replace="snippets.html :: toast-service"></div>
<div class="container">
    <div class="row" style="margin:30px ;margin-left:-15px">
        <div class="col-2">
            <button type="button" class="btn btn-primary" id="addProductModal">Add Product</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" id="addBrand">Upload TSV</button>
        </div>
    </div>
    <table class="table table-striped table-bordered text-center" cellspacing="0" id="product-table">
        <thead>
        <tr>
            <th scope="col">BrandId</th>
            <th scope="col">#</th>
            <th scope="col">Barcode</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">MRP.</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editProduct">
                        <div class="form-group row">
                            <input id="productId" type="hidden" name="id">
                        </div>
                        <div class="form-group row">
                            <input id="brandId" type="hidden" name="brandId">
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Barcode<span class="required">*</span> </label>
                            <input class="form-control form-control-lg col-4" name="barcode" id="barcode" type="text" readonly>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-3">Brand<span class="required">*</span> </label>
                            <input class="form-control form-control-lg col-4" name="brand" id="brandName" type="text" required />
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Category<span class="required">*</span></label>
                            <input class="form-control form-control-lg col-4" name="category" id="categoryName"
                                   type="text" required />
                        </div>

                        <div class="form-group row">
                            <label class="col-3">Name<span class="required">*</span> </label>
                            <input class="form-control form-control-lg col-4" name="name" id="name" type="text" required/>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">mrp<span class="required">*</span> </label>
                            <input class="form-control form-control-lg col-4" name="mrp" id="mrp" type="text" required/>
                            <div id="mrpEditError" class="error-message"></div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="update-product">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProduct">

                        <div class="form-group row">
                            <label class="col-3">Barcode<span class="required">*</span> </label>
                            <input required class="form-control form-control col-4" name="barcode" id="addBarcode" type="text" />
                            <div>
                                <p id="barcodeError" class="error"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Brand<span class="required">*</span> </label>
                            <input class="form-control form-control col-4" name="brand" id="addBrandName" type="text" required />
                            <div>
                                <p id="brandNameError" class="error"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Category<span class="required">*</span> </label>
                            <input class="form-control form-control col-4" name="category" id="addCategoryName" type="text" required />
                            <div>
                                <p id="categoryNameError" class="error"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">Name<span class="required">*</span> </label>
                            <input class="form-control form-control col-4" name="name" id="addName" type="text" required />
                            <div>
                                <p id="nameError" class="error"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3">mrp<span class="required">*</span> </label>
                            <input class="form-control form-control col-4" name="mrp" id="addMrp" type="text" required />
                            <div>
                                <p id="mrpError" class="error"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="addProductButton">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="snippets.html :: footer"></footer>
<script th:src="@{/static/product.js}"/>
</script>
</html>