html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}


.container {
	margin: 0%;
	margin-left:40px;
	padding-right: 100px;
	max-width: none;
	
}
.toast{
	opacity:0;
	position: fixed;
	padding: 10px;
	top: 0;
	right: 0;
	border-radius: 10px;
	transition: 1s;
	margin: 20px;
	z-index: 2000;
}
.toast-body{
	padding: 25px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	/* Set the fixed height of the footer here */
	line-height: 60px;
	/* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}

.elementToFadeInAndOut {
	opacity: 1;
	animation: fade 2s linear;
}


@keyframes fade {

	0%,
	100% {
		opacity: 0
	}

	50% {
		opacity: 1
	}
}

.material-icons {
	cursor: pointer !important
}

.error {
	margin: 10px;
}

.errorForm {
	padding-left: 20px;
	padding-top: 7px;
	color: red;
}


.lable {
	padding-top: 5px;
}

.modal{
	margin-top:100px;
	margin-right: 180px;
}

.error-message {
	color: #cc0033;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	margin: 17px 15px 0;
  }
.required{
	color:red;
}
.nav-link{
	color:white;
}
.nav-item{
	color:white !important;
}
.nav-item:hover{
	color:rgb(149, 255, 205) !important;
}
.nav-bar-style{
	background-color: #5EAEC7 !important;
}
.active{
	color:rgb(149, 255, 205) !important;
}
.navbar-brand{
	font-size: 25px;
	padding-left: 16px;
}

.home-button{
	margin:5px;
}
.btn-large{
	width: 150px;
    height: 150px;
    padding: 0px;
    border-radius: 100%;
    font-size: 24px;
}
.btn-large-text{
	width: 115px;
    height: 45px;
    font-size: 20px;
	color:rgb(83, 83, 83);
	border:2px solid #0069d9;
	background-color: whitesmoke;
	transition: 0.5s;
	padding-left: 10px;
}
.btn-large-text:hover{
	width: 115px;
    height: 45px;
    font-size: 20px;
	color:whitesmoke;
	border:2px solid #0069d9;
	background-color: 0069d9;
}
.text-btn-align{
	margin-top:7px;

}

.form-input{
	height: 40px;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.invoice{
	margin-right:10px;
}
.disable-edit{
	cursor: not-allowed !important
}
.report-input{
	border: 1px solid #ced4da;
	border-radius: 5px;
	width: 300px;
	height: 45px;
}
.report-text{
	font-size: 30px;
}
.download-button{
	width: 115px;
    height: 45px;
    font-size: 20px;
	color:rgb(83, 83, 83);
	border:2px solid #0069d9;
	background-color: whitesmoke;
	transition: 0.5s;
}
.download-button:hover{
	width: 115px;
    height: 45px;
    font-size: 20px;
	color:whitesmoke;
	border:2px solid #0069d9;
	background-color: 0069d9;
}

div.card {
	width: 250px;
	box-shadow: 0 4px 8px 0 #c2e8ee8c;
	text-align: center;
	cursor: default;
}

.card-style{
	font-size:20px;
	background-color: #C2E8EE;
	transition: 0.5s;
}
.card-style:hover{
	background-color: #9ce7f3;
	box-shadow: #39bbcfbd 0px 7px 29px 0px;
}
a{
	color:black !important;
}
a:hover{
	text-decoration: none;
}
.download-sample{
	background-color: #0069d9;
	color:white;
	border: 1px solid whitesmoke;
}